:root {
  --bg: #0b0b0b;
  --card-bg: #1a1a1a;
  --accent: #b58bf9;
  --success: #00cc66;
  --danger: #ff5050;
  --glow-color: var(--accent);
  --text: #f0f0f0;
  --subtext: #aaa;

  color-scheme: dark;
  color: var(--text);
  background-color: var(--bg);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: radial-gradient(
    circle at top left,
    #0e0e0e 0%,
    #1f1020 40%,
    #0b0b0b 100%
  );
  color: var(--text);
  font-family: "Inter", system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}